<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitterConsole.TwitterConsoleSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TwitterConsole.TwitterConloseSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TwitterConsole.TwitterConsoleSettings>
            <setting name="TwitterApiSecret" serializeAs="String">
                <value>lFpIBIY4zobXxpwoxKHRM5CBuCAW3dOeO4dnCu7BVgCmDt1DLa</value>
            </setting>
            <setting name="TwitterBearerToken" serializeAs="String">
                <value>AAAAAAAAAAAAAAAAAAAAAOsxkgEAAAAAr8sfjNxLVURpjWjPINNILQOZlVU%3D0rIZkFvsnQG5eVtUmSQV13z9NNaQnHJu0RBnEV6ZzC9JdqTifG</value>
            </setting>
            <setting name="TwitterApiKey" serializeAs="String">
                <value>DdfG1vF2UD0LKYn7D7yIK6R0k</value>
            </setting>
        </TwitterConsole.TwitterConsoleSettings>
        <TwitterConsole.TwitterConloseSettings>
            <setting name="TwitterApiKey" serializeAs="String">
                <value>DdfG1vF2UD0LKYn7D7yIK6R0k</value>
            </setting>
            <setting name="TwitterApiSecret" serializeAs="String">
                <value>lFpIBIY4zobXxpwoxKHRM5CBuCAW3dOeO4dnCu7BVgCmDt1DLa</value>
            </setting>
            <setting name="TwitterBearerToken" serializeAs="String">
                <value>AAAAAAAAAAAAAAAAAAAAAOsxkgEAAAAAr8sfjNxLVURpjWjPINNILQOZlVU%3D0rIZkFvsnQG5eVtUmSQV13z9NNaQnHJu0RBnEV6ZzC9JdqTifG</value>
            </setting>
        </TwitterConsole.TwitterConloseSettings>
    </userSettings>
</configuration>